# Audio
groq>=0.11.0
pydub>=0.25.1
soundfile>=0.12.1
numpy>=1.26

# NLP
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.2
transformers>=4.40
accelerate>=0.30
scikit-learn>=1.4

noisereduce>=3.0.0

# API
fastapi>=0.110
uvicorn[standard]>=0.29
python-multipart>=0.0.9
pydantic>=2.6
pydantic-settings>=2.2
python-dotenv>=1.0

